<!DOCTYPE html>
<html>
<head>
  <title>Unicorn Power</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/application.css">

  </head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="navbar-text">
               
         
          <h4><b>Unicorns are the best</b></h4>
          <div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li id="about" class="active"><img src="/images/unicorn-3.png"><a href="#">About</a></li>
    <li id="prototype"><img src="/images/unicorn-3.png" style="display: none"><a href="#">Prototypes</a></li>
    <li id="contact"><img src="/images/unicorn-3.png" style="display: none"><a href="#">Contact</a></li>
  </ul>
</div>
        </div>
      </div>
       
    </div>
  </nav>
  
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="jumbotron">
          <div class="about">
            <div class="row">
              <div class="col-md-8">
                <h2>Prototype Inc.</h2>
                <h3>Home of the World's Best Prototypes</h3>
              </div>
              <div class="col-md-4">
                <img class="img-responsive" src="https://github.com/DeloitteDigitalUK/code101/raw/master/images/octocat.png">
              </div>
            </div>
            
           <p>
           A prototype is an early sample, model, or release of a product built to test a concept or process or to act as a thing to be replicated or learned from.
           It is a term used in a variety of contexts, including semantics, design, electronics, and software programming.
           A prototype is generally used to evaluate a new design to enhance precision by system analysts and users. 
           Prototyping serves to provide specifications for a real, working system rather than a theoretical one. 
           In some design workflow models, creating a prototype (a process sometimes called materialization) is the step between the formalization and the evaluation of an idea.
           </p>
           <p>This website showcases some of the most prototypical of prototypes.</p>
         </div>
          
          <div class="prototype hidden">
  <h2>Our Top Secret Prototype</h2>
  <img src="https://raw.githubusercontent.com/ALRW/dayAsADev/master/images/tsPrototype.png" class="img-responsive img-rounded"></img>
</div>
        <div class="contact hidden">
  <h2>Contact us</h2>
  <p>
     
          Via Snailmail<br>
Prototype, Inc.<br>
1 Prototype Tower<br>
London<br>
PO00PP
          </p><p>
Via the interwebs<br>
example@example.com
</p>
</div>
          
        </div>
      </div>
    <div class="col-md-2"></div>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/javascript/app.js"></script>
  </body>
</html>